<ion-view view-title="Login" hide-nav-bar="true" style="background:#5a5656;">
	<ion-content has-bouncing="false">
		<form ng-submit="loginCtrl.doLogin()" class="invision-form">
			<div class="list list-inset">
				<div class="item logo-big">
					<img src="img/logo.png" alt="logo" />
				</div>
				<label class="item item-input">
					<i class="icon ion-person placeholder-icon"></i>
					<input type="text" placeholder="Username">
				</label>
				<label class="item item-input">
					<i class="icon ion-lock-combination placeholder-icon"></i>
					<input type="password" placeholder="Password">
				</label>
				<label class="item form-button">
					<button class="button button-block button-primary" type="submit" data-ui-sref="app.create-workout">Access Create Workout</button>
				</label>
			</div>
		</form>
	</ion-content>
</ion-view>
