<ion-view>
  <ion-pane class="pane">
    <ion-content class="scroll-content ionic-scroll  has-header">
      <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
        <ion-list class="disable-user-behavior">
          <div class="list">
            <div class="row row-wrap" style="background:#ccc; font-family: 'Oswald', sans-serif;">
              <div class="col"> <span  style="margin:17px 17px; color:#000; font-size:17px;">Measures</span> </div>
            </div>
            <div class="row row-wrap category-items">
              <div class="category-item-image col col-10" style="font-size:34px; margin:11px;"> 
			  <i class="icon ion-ios-calendar" style="color:#f14107;"></i> </div>
              <div class="category-item-tools col">
                <div class="col col-offset-10" style="font-family: 'Oswald', sans-serif; color:#999; "> Execrise Interval <i class="icon ion-chevron-right" style="float:right; position:relative; right:19px;"></i> <span style="color:#000; display:block; position:absolute; top:24px;">1 Minute </span> </div>
              </div>
            </div>
            <div class="row row-wrap category-items">
              <div class="category-item-image col col-10" style="font-size:34px; margin:11px;"> <i class="icon ion-heart-broken" style="color:#f14107;"></i> </div>
              <div class="category-item-tools col">
                <div class="col col-offset-10" style="font-family: 'Oswald', sans-serif; color:#999; "> Rest after Execrise <i class="icon ion-chevron-right" style="float:right; position:relative; right:19px;"></i> <span style="color:#000; display:block; position:absolute; top:24px;">0 Second </span> </div>
              </div>
            </div>
			<div class="row row-wrap" style="background:#ccc; font-family: 'Oswald', sans-serif;">
              <div class="col"> <span  style="margin:17px 17px; color:#000; font-size:17px;">Sounds and sound labels</span> </div>
            </div>
            <div class="row row-wrap category-items">
              <div class="category-item-image col col-10" style="font-size:34px; margin:11px;"> <i class="icon ion-mic-a" style="color:#f14107;"></i> </div>
              <div class="category-item-tools col">
                <div class="col col-offset-10" style="font-family: 'Oswald', sans-serif; color:#999; ">  Execrise Name (begninning execrise)  <i class="icon ion-chevron-right" style="float:right; position:relative; right:19px;"></i> <span style="color:#000; display:block; position:absolute; top:24px;">1 Minute </span> </div>
              </div>
            </div>
            <div class="row row-wrap category-items">
              <div class="category-item-image col col-10" style="font-size:34px; margin:11px;"> <i class="icon ion-speakerphone" style="color:#f14107;"></i> </div>
              <div class="category-item-tools col">
                <div class="col col-offset-10" style="font-family: 'Oswald', sans-serif; color:#999; "> Last 3 seconds beep <i class="icon ion-chevron-right" style="float:right; position:relative; right:19px;"></i> <span style="color:#000; display:block; position:absolute; top:24px;">on </span> </div>
              </div>
            </div>
            <div class="row row-wrap category-items">
              <div class="category-item-image col col-10" style="font-size:34px; margin:11px;"> <i class="icon ion-videocamera" style="color:#f14107;"></i> </div>
              <div class="category-item-tools col">
                <div class="col col-offset-10" style="font-family: 'Oswald', sans-serif; color:#999; "> Halfway beep <i class="icon ion-chevron-right" style="float:right; position:relative; right:19px;"></i> <span style="color:#000; display:block; position:absolute; top:24px;">on </span> </div>
              </div>
            </div>
            <div class="row row-wrap category-items">
              <div class="category-item-image col col-10" style="font-size:34px; margin:11px;"> <i class="icon ion-music-note" style="color:#f14107;"></i> </div>
              <div class="category-item-tools col">
                <div class="col col-offset-10" style="font-family: 'Oswald', sans-serif; color:#999; "> Rest after Execrise <i class="icon ion-chevron-right" style="float:right; position:relative; right:19px;"></i> <span style="color:#000; display:block; position:absolute; top:24px;">Rest (male) </span> </div>
              </div>
            </div>
          </div>
        </ion-list>
      </div>
      <div class="scroll-bar scroll-bar-v">
        <div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 373px;"></div>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<style type="text/css">
.img-set{ 
    display:inline!important;
    padding: 4px 4px;
    position: absolute;
    top: 9px;
    left: 7px;
	height:70px!important;
}
.exe-details{font-family: 'Oswald', sans-serif; font-size:13px}
hr{background:#ccc!important;}
.category-items{border-bottom:2px solid #ccc;}
.text-green{ color:#0f610f; text-align:center; padding:10px 0px; font-size:31px;}
.text-red{ color:#a90a0a; text-align:center;  padding:10px 0px; font-size:31px;}
.text-arrow{ color:#FFFFFF; text-align:center;  padding:10px 0px; font-size:31px;}
.text{ color:#FFFFFF; text-align:center;  padding:10px 0px; font-size:31px;}
.bg-orange{background:#f96332;}
.category-item-image span{ color:#fff; font-size:12px; display:block;}
</style>
