<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Booking</h1>
    </ion-header-bar>
    <ion-content scroll="false">
        <ion-list>
            <ion-item><h2 class="red-background text-center white" style="padding:12px 0px 12px 0px; font-size:20px;">
                {{ day_name }}</h2></ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                <a class="item-content" ng-repeat="slot in slots" ng-click="appCtrl.bookSlot(slot.pk)">
                    {{ slot.start_time }}
                </a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
