<ion-view>
  <ion-pane class="pane">
    <ion-content class="scroll-content ionic-scroll  has-header">
      <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
        <ion-list class="disable-user-behavior">
          <div class="list">
		    <div class="row row-wrap category-items">
              <div class="category-item-tools col ">
                <button class = "button button-assertive button-block" style="background:#f96332!important; border-radius:0px;     font-family: 'Oswald', sans-serif; border-top-right-radius:112px; border-bottom-right-radius:112px;" data-ui-sref="app.execrise-timer">
   <i class="icon ion-ios-stopwatch"></i> | START WORKOUT  
</button>
              </div>
            </div>
            <div class="row row-wrap category-items">
              <div class="category-item-image col col-25">
                <div style="background:#ccc; color:#fff; text-align:center; margin:8px; font-family: 'Oswald', sans-serif; font-size:18px;" class="col col-offset-10">00:00</div>
              </div>
              <div class="category-item-tools col col-75">
                <div class="col col-offset-10"  style="font-family: 'Oswald', sans-serif; font-size:18px;"> Set get ready timer </div>
              </div>
            </div>
            <div class="row row-wrap category-items">
              <div class="category-item-image col col-25">
                <div style="background:#ccc; color:#fff; text-align:center; margin:8px; font-family: 'Oswald', sans-serif; font-size:18px;" class="col col-offset-10">5</div>
              </div>
              <div class="category-item-tools col col-75">
                <div class="col col-offset-10"  style="font-family: 'Oswald', sans-serif; font-size:18px;"> Set number of sets </div>
              </div>
            </div>
            <div class="row row-wrap category-items exe-details">
              <div class="category-item-image col col-20"> <img src="img/3.jpg" alt="Description" class="img-set"> </div>
              <div class="category-item-tools col col-80">
                <h3 class="ng-binding" style="font-family: 'Oswald', sans-serif;"> <span style="color:#00a8ff; font-weight:500; display:block;">execrise <i class="icon ion-chevron-right" style="float:right; position:relative; right:-1px; color:#000;"></i></span> 25 Squat Press </h3>
                <hr/>
                <div class="row">
                  <div class="col col-40"><i class="icon ion-ios-stopwatch-outline"></i> 0 Execrise Length <span style="display:block; margin-top:-7px; margin-left:18px;">01:00 min</span> </div>
                  <div class="col col-20">
                    <div style="height:30px; background:#333; width:2px; margin:0 auto;"></div>
                  </div>
                  <div class="col col-40"> <i class="icon ion-heart-broken"></i> 00:00 Sec <span style="display:block; margin-top:-7px; margin-left:18px;">Time For Reset</span></div>
                </div>
              </div>
            </div>
            <div class="row row-wrap category-items exe-details">
              <div class="category-item-image col col-20"> <img src="img/3.jpg" alt="Description" class="img-set"> </div>
              <div class="category-item-tools col col-80">
                <h3 class="ng-binding" style="font-family: 'Oswald', sans-serif;"> <span style="color:#00a8ff; font-weight:500; display:block;">execrise <i class="icon ion-chevron-right" style="float:right; position:relative; right:-1px; color:#000;"></i></span> 25 Squat Press </h3>
                <hr/>
                <div class="row">
                  <div class="col col-40"><i class="icon ion-ios-stopwatch-outline"></i> 0 Execrise Length <span style="display:block; margin-top:-7px; margin-left:18px;">01:00 min</span> </div>
                  <div class="col col-20">
                    <div style="height:30px; background:#333; width:2px; margin:0 auto;"></div>
                  </div>
                  <div class="col col-40"> <i class="icon ion-heart-broken"></i> 00:00 Sec <span style="display:block; margin-top:-7px; margin-left:18px;">Time For Reset</span></div>
                </div>
              </div>
            </div>
          </div>
        </ion-list>
      </div>
      <div class="scroll-bar scroll-bar-v">
        <div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 373px;"></div>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<style type="text/css">
.img-set{ 
    display:inline!important;
    padding: 4px 4px;
    position: absolute;
    top: 9px;
    left: 7px;
	height:70px!important;
}
.exe-details{font-family: 'Oswald', sans-serif; font-size:13px}
hr{background:#ccc!important;}
.category-items{border-bottom:2px solid #ccc;}
.text-green{ color:#0f610f; text-align:center; padding:10px 0px; font-size:31px;}
.text-red{ color:#a90a0a; text-align:center;  padding:10px 0px; font-size:31px;}
.text-arrow{ color:#FFFFFF; text-align:center;  padding:10px 0px; font-size:31px;}
.text{ color:#FFFFFF; text-align:center;  padding:10px 0px; font-size:31px;}
.bg-orange{background:#f96332;}
.category-item-image span{ color:#fff; font-size:12px; display:block;}
</style>
